@page "/authors/create/"
@attribute [Authorize(Roles = "Administrator")]
@inject IAuthorRepository _repo
@inject NavigationManager _navManager

<h3 class="card-title">Create Author</h3>
<hr/>
@if (!isSuccess)
{
    <ErrorMessage Message="Something went wrong with the create attempt" />
}


<EditForm Model="Model" OnValidSubmit="CreateAuthor">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="firstname">First Name</label>
        <InputText id="firstname" @bind-Value="Model.Firstname" class="form-control" />
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <InputText id="lastname" @bind-Value="Model.Lastname" class="form-control" />
    </div>
    <div class="form-group">
        <label for="bio">Biography</label>
        <InputTextArea id="bio" @bind-Value="Model.Bio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">
        <span class="oi oi-pencil"></span>
        Submit
    </button>
    <button @onclick="BackToList" class="btn btn-outline-secondary">
        <span class="oi oi-media-skip-backward"></span>
        Back To List
    </button>
</EditForm>


@code {
    private Author Model = new Author();
    private bool isSuccess = true;
    private async Task CreateAuthor()
    {
        isSuccess = await _repo.Create(Endpoints.AuthorsEndpoint, Model);
        if (isSuccess)
        {
            BackToList();
        }
    }

    private void BackToList()
    {
        _navManager.NavigateTo("/authors/");
    }
}
