@page "/authors/"

@inject IAuthorRepository _repo
<h3>Index</h3>
@if (Model == null)
{
<LoadingMessage Message="Loading Author Data..."></LoadingMessage>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Firstname</td>
                    <td>@author.Lastname</td>
                    <td>
                        <a href="/authors/view/@author.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span> View
                        </a>
                        <a href="/authors/edit/@author.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span> Edit
                        </a>
                        <a href="/authors/delete/@author.Id"class="btn btn-danger">
                            <span class="oi oi-delete"></span> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Author> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _repo.Get(Endpoints.AuthorsEndpoint);
    }
}
